body {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 100px auto 10%;
}

p.header {
    display: flex;
    width: 100%;
    height: 10vh;
    font-family: 'Beth Ellen', cursive;
    justify-content: center;
    
    
    line-height: 10vh;
    grid-row: 1;
    grid-column: 1 / span 2;
}
p.header span {
    border-radius: 50%;
    background-color: lightsteelblue;
    padding-left: 50px;
    padding-right: 50px;
}
p.search_bar {
    grid-row: 3;
    grid-column: 1 / span 2;
}